h2 {
    font-family: 'Indie Flower', cursive;
    font-size: 20px;
  }
  
 section > * {
    width: 200px;
    margin: 10px;
  }
    
main {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}