h2 {
    font-family: 'Indie Flower', cursive;
    font-size: 20px;
  }
  
 section > * {
    width: 200px;
    box-sizing: border-box;
  }

  section {
    border: 1px groove black;
    background-color: antiquewhite;
    text-align: center;
    margin: 4px; 
  }
    
main {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

#pagination {
  display: block;
  background-color: yellow;
}

#pagination > a {
  border: 1px solid black;
  padding: 8px;
  border-radius: 4px;
}

